* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  height: 12vh;
  border-bottom: 1px solid #B4AEAE;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 34vw;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
}
header nav ul a {
  text-decoration: none;
  color: #4B5563;
}
header nav button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.2rem;
  border: none;
  border-radius: 6px;
  padding: 20px 35px;
  background-color: #16A34A;
}
header nav button:hover {
  cursor: pointer;
  background-color: #21C05C;
}

.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
  height: 70vh;
}
.first-section .text-content {
  width: 45vw;
}
.first-section .text-content h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 4.5rem;
  color: #1F2937;
  margin-bottom: 4%;
}
.first-section .text-content h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #4B5563;
  margin-bottom: 5%;
}
.first-section .text-content .buttons {
  display: flex;
  gap: 4%;
}
.first-section .text-content .buttons .btn-primary {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #16A34A;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  padding: 20px 35px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.first-section .text-content .buttons .btn-primary:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.first-section .text-content .buttons .btn-primary img {
  width: 15%;
}
.first-section .text-content .buttons .btn-secondary {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #2563EB;
  background-color: transparent;
  border: solid 1px #2563EB;
  border-radius: 6px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.first-section .text-content .buttons .btn-secondary:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.first-section .text-content .buttons .btn-secondary img {
  width: 15%;
}
.first-section img {
  width: 30%;
}

.second-section {
  background-color: #F3F5F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 7%;
}
.second-section .second-section_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-section .second-section_text h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #16A34A;
  margin-bottom: 2%;
}
.second-section .second-section_text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4B5563;
}

.third-section {
  display: flex;
  flex-direction: column;
  padding: 4% 5%;
}
.third-section h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #1F2937;
  margin-bottom: 1%;
}
.third-section p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #1F2937;
  margin-bottom: 1%;
}

.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 5%;
  gap: 2%;
}
.fourth-section .container {
  display: flex;
  flex-direction: column;
  background-color: #F3F5F8;
  border-radius: 8px;
  padding: 4% 3%;
}
.fourth-section .container .container_titulo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  margin-bottom: 4%;
}
.fourth-section .container .container_titulo img {
  width: 13%;
}
.fourth-section .container .container_titulo .container_titulo_doador {
  color: #16A34A;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
.fourth-section .container .container_titulo .container_titulo_adquirente {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #2563EB;
}
.fourth-section .container .container_p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4B5563;
  margin-bottom: 5%;
}
.fourth-section .container .topico {
  display: flex;
  align-items: flex-start;
  gap: 3%;
}
.fourth-section .container .topico .topico_p {
  display: inline-block;
  background-color: #16A34A;
  color: white;
  font-weight: bold;
  width: 2vw;
  height: 4vh;
  line-height: 4vh;
  text-align: center;
  border-radius: 50%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.fourth-section .container .topico .topico_q {
  display: inline-block;
  background-color: #2563EB;
  color: white;
  font-weight: bold;
  width: 2vw;
  height: 4vh;
  line-height: 4vh;
  text-align: center;
  border-radius: 50%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.fourth-section .container .topico .topico_text {
  margin-bottom: 10%;
}
.fourth-section .container .topico .topico_text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #09090B;
}
.fourth-section .container .topico .topico_text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4B5563;
}/*# sourceMappingURL=style.css.map */